h1
{
  text-align: center;
  margin-top: 7%;
  font-size: 45px;
  font-family: "Stencil";
}

body{
  background-color: rgba(232,224,165,0.3);
}
a
{
  color: #000000;
  font-size: 20px;
  font-family: "Rockwell";
}
img
{
  width: 64px;
  height: 64px;
}
p
{
  font-size: 20px;
  font-family: "Rockwell";
  color: #000000;
}
