h1
{
  text-align: center;
  margin-top: 7%;
  font-size: 45px;
  font-family: "Stencil";
}
.container
{
  margin : 0 auto;
  width : 50%;
  padding-top: 15px;
  border: none;

}
body{
  background-color: rgba(232,224,165,0.3);
}
a
{
  color: #000000;
  font-size: 20px;
  font-family: "Rockwell";
}
img
{
  margin-bottom: 25px;
  margin-right: 1%;
  
  
  width: 64px;
  height: 64px;
}

.soul
{
    text-decoration:  none;
    font-family: "Rockwell";
    color : blue;
    font-size: 20px;
}
.files
{
  
}