.dol
{
  text-align: center;
  margin-left: 11%;
  font-size: 100px;

}
.book
{
  text-align: center;
width: 200px;
height: 200px;
margin-left: 19.5%;
}
.logo
{
  margin : 0 auto;
  width : 50%;
  border: none;
  margin-top: -10%;
  margin-right: 27%;
}
.explor
{
  width: 150px;
  height: 225px;
  margin-left: 95%;
  margin-top: -15%;
}

h1
{
  text-align: center;
  margin-top: 7%;
  font-size: 50px;
  margin-right: 14%;
  padding-bottom: 5%;
  font-family: "Stencil";
}
.container
{
  margin : 0 auto;
  width : 50%;
<<<<<<< HEAD
=======
  padding-top: 15px;
>>>>>>> origin/master
  border: none;
  margin-top: -12%;

}
body{
  background-color: rgba(232,224,165,0.3);
}
a
{
  color: blue;
  font-size: 20px;
  font-family: "Rockwell";
}
img
{
  margin-bottom: 25px;
  margin-right: 1%;
<<<<<<< HEAD


=======
  
  
>>>>>>> origin/master
  width: 64px;
  height: 64px;

}

.soul
{
    text-decoration:  none;
    font-family: "Rockwell";
<<<<<<< HEAD
    color : #8B0000;
    font-size: 15px;
}
#return
{
  color : #000000;
}
.explo
{
  width: 80px;
  height: 130px;
  margin-left: 65%;
  margin-top: 0%;



=======
    color : blue;
    font-size: 20px;
>>>>>>> origin/master
}
.files
{
  
}